*.class
*.log
*.jar
*.jar.old

atlassian-ide-plugin.xml


# Eclipse specific
.classpath
.project
.settings/
.metadata

# Project statistics
stats

# InteliJ IDEA
*.iml

# sbt specific
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# MacOS X specific
.DS_Store

#InteliJ
.idea_modules/
.idea/
