<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="outputConsole" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%t] %-5p %c{3} - %m%n" />
        </layout>
    </appender>

    <logger name="org.cassandraunit">
        <level value="debug" />
    </logger>
    <logger name="org.apache.cassandra">
        <level value="error" />
    </logger>

    <logger name="com.datastax.driver.core">
        <level value="error" />
    </logger>

    <logger name="jetty">
        <level value="error" />
    </logger>

    <logger name="com.websudos.phantom">
        <level value="info"/>
    </logger>

    <logger name="me.prettyprint">
        <level value="error" />
    </logger>

    <root>
        <priority value="error" />
        <appender-ref ref="outputConsole" />
    </root>

</log4j:configuration>
